.foodbox {
    padding: 10px 10px;
}

.foodbox img {
    width: -webkit-fill-available;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
}

.foodbox h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.buybtn {
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}